/.vs/
/1 DEG2000 Z80/.vs/
/1 DEG2000 Z80/packages/
/1 DEG2000 Z80/Z80sim/bin/
/1 DEG2000 Z80/Z80sim/obj/
/2 CASerzeugen/CASerzeugen/.vs/
/2 CASerzeugen/CASerzeugen/bin/
/2 CASerzeugen/CASerzeugen/obj/