<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DEG2000.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DEG2000.My.MySettings>
            <setting name="ProgVerz" serializeAs="String">
                <value>D:\\devel\\1 DEG2000\\</value>
            </setting>
            <setting name="BinVerzeichnis" serializeAs="String">
                <value>BIN1</value>
            </setting>
            <setting name="MemVerzeichnis" serializeAs="String">
                <value>MEM</value>
            </setting>
            <setting name="TapeVerzeichnis" serializeAs="String">
                <value>TAPE</value>
            </setting>
            <setting name="FontVerzeichnis" serializeAs="String">
                <value>FONT</value>
            </setting>
            <setting name="FontDateiname" serializeAs="String">
                <value>7024-0.FNT</value>
            </setting>
            <setting name="BWSspalten" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="BWSzeilen" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="PixelanzX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PixelanzY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NextCharTast" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="KeyCodes" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="COMVerzeichnis" serializeAs="String">
                <value>COM</value>
            </setting>
        </DEG2000.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
